<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %>
    <span class="divider">/</span></li>
  <li class="active">Add Address</li>
</ul>

<div class="row">
  <%= form_with class: "form-horizontal", model: @addresses do |form| %>
  <div class="span6">
    <div class="well">
      <strong class="label label-primary">Add New Address</strong>
      <%= render "show_validation_errors" %>
      <div class="form-group">
        <%= form.label "Address Line", class: "form-label" %>
        <div class="form">
          <%= form.text_field "address[address]", value: @address.address, placeholder: "Add address" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :street, "Street", class: "form-label" %>
        <div class="form">
          <%= form.text_field "address[street]", value: @address.street, placeholder: "Add street" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :city, "City", class: "form-label" %>
        <div class="form">
          <%= form.text_field "address[city]", value: @address.city, placeholder: "Add city" %>
        </div>
      </div>

    </div>
  </div>

  <div class="span6">
    <div class="well">

      <div class="form-group">
        <%= form.label :state, "State", class: "form-label" %>
        <div class="form">
          <%= form.text_field "address[state]", value: @address.state, placeholder: "Add state" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :zip, "Pin Code", class: "form-label" %>
        <div class="form">
          <%= form.number_field "address[zip]", value: @address.zip, placeholder: "Add Zip Code" %>
        </div>
      </div>

      <div class="form-group">
          <table>
            <tr>
              <td>Set as Primary?</td>
              </tr>
              <tr>
              <td>Yes
                <%= form.radio_button "address[default]", true %></td>
              <td>No
                <%= form.radio_button "address[default]", false %></td>
            </tr>
          </table>
      </div>

      <div class="form-group">
        <div class="form">
          <%= form.submit class: "btn btn-sm btn-success" %>
          <%= link_to "Back", :back %>
        </div>
      </div>

    </div>
  </div>
<% end %>
</div>
