<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %>
        <span class="divider">/</span></li>
      <li class="active">Sign Up</li>
    </ul>
  </div>
</div>

<div class="row">
  <%= simple_form_for(resource, class: "form-horizontal", as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="span6">
    <div class="well">
      <%= f.error_notification %>

      <div class="control-group">
        <%= f.input :email,hint: " Email Required", required: true, autofocus: true, input_html: { autocomplete: "email" }%>
      </div>

      <div class="control-group">
        <%= f.input :name, hint: " Name Required", autofocus: true, required: true %>
      </div>

      <div class="control-group">
        <%= f.input :phone, hint: " Phone Required", autofocus: true, required: true %>
      </div>
  </div>
</div>

<div class="span6">
  <div class="well">

    <div class="control-group">
      <%= f.input :password, required: true, hint: (" #{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="control-group">
      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="control-group">
      <%= f.button :submit, "Sign up", class: "btn btn-primary btn-sm"%> or 
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
<% end %>
</div>
