<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item">
        <div class="container">          
            <a href="#"><%= image_tag "carousel/1.png", width: "100%", alt:" Carousel image" %></a>       
          </div>
        </div>
      </div>
      <div class="item active">
        <div class="container">
          <a href="#"><%= image_tag "carousel/2.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
      <div class="item">
        <div class="container">
         <a href="#"><%= image_tag "carousel/3.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="#"><%= image_tag "carousel/4.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
      <div class="item">
        <div class="container">
        <a href="#"><%= image_tag "carousel/5.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
      <div class="item">
        <div class="container">
        <a href="#"><%= image_tag "carousel/6.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <a href="#"><%= image_tag "carousel/7.png", width: "100%", alt:" Carousel image" %></a>
        </div>
      </div>
    </div>
  </div>
</div>