<div class="span12" style="min-height:350px">
  <ul class="breadcrumb">
    <li>
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li class="active">Settings</li>
  </ul>
  <hr class="soft"/>

  <% if user_signed_in? %>
    <ul class="thumbnails">
      <% unless current_user && current_user.admin %>

        <li class="span4">
          <div class="thumbnail  text-left">
            <h5>
              <span class="icon-file icon-white"></span>
              Manage Orders</h5>
            <hr class="soft"/>
            <p class="card-text">
              <ol style="list-style-type: circle">
                <li>View Orders</li>
                <li>Check Status</li>
                <li>Cancel Order</li>
              </ol>
            </p>
            <%= link_to "Go", view_order_path, class:"btn btn-primary" %>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail  text-left">
            <h5>
              <span class="icon-shopping-cart icon-white"></span>
              Manage Cart</h5>
            <hr class="soft"/>
            <p class="card-text">
              <ol style="list-style-type: circle">
                <li>View Cart Items</li>
                <li>Delete Items</li>
                <li>Place Order</li>
              </ol>
            </p>
            <%= link_to "Go", cart_path, class:"btn btn-primary" %>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail  text-left">
            <h5>
              <span class="icon-book icon-white"></span>
              Manage Addresses</h5>
            <hr class="soft"/>
            <p class="card-text">
              <ol style="list-style-type: circle">
                <li>Add Address</li>
                <li>Edit Address</li>
                <li>Set Primary Address</li>
              </ol>
            </p>
            <%= link_to "Go", addresses_path, class:"btn btn-primary" %>
          </div>
        </li>
      <% end %>
      <% unless !current_user.admin %>
        <li class="span4">
          <div class="thumbnail">
            <h5 class="card-title">
              <span class="icon-list icon-white"></span>
              Manage Orders</h5>
            <hr class="soft"/>
            <p class="card-text">
              <ol style="list-style-type: circle">
                <li>Manage Orders received</li>
                <li>Edit order status</li>
                <li>view order status</li>
              </ol>
            </p>
            <%= link_to 'Go', view_order_admin_path, :class => 'btn btn-primary' %>
          </div>
        </li>
      <% end %>
      <li class="span4">
        <div class="thumbnail">
          <h5 class="card-title">
            <span class="icon-user icon-white"></span>
            Manage User</h5>
          <hr class="soft"/>
          <p class="card-text">
            <ol style="list-style-type: circle">
              <li>Cancel Account</li>
              <li>Edit User Name or Phone Number</li>
              <li>Change Current Password</li>
            </ol>
          </p>
          <%= link_to 'Go', edit_user_registration_path, :class => 'btn btn-primary' %>
        </div>
      </li>
    </ul>

  <% end %>
</div>
