<div id="footerSection">
  <div class="container">
    <div class="row">
      E-Shop
    </div>
    <p class="pull-right">&copy; Vineesh K S</p>
  </div>
</div>

<%=javascript_include_tag 'lib/jquery' %>
<%=javascript_include_tag 'lib/bootstrap.min' %>
<%=javascript_include_tag 'lib/google-code-prettify/prettify' %>
<%=javascript_include_tag 'lib/bootshop' %>
<%=javascript_include_tag 'lib/jquery.lightbox' %>