<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
  <div class="navbar-inner">
    <a class="brand"><img src="../images/logo.jpg" alt="Bootsshop"/></a>
    <ul id="topMenu" class="nav pull-right">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ", faq_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Us", contact_path, class:"nav-link" %>
      </li>
      <% if current_user && current_user.admin %>
        <li class="nav-item">
          <%= link_to "List Products", list_products_path, class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Products", products_path, class:"nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Manage Account', profile_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>