<!doctype html>
<html lang="en">
  <%= render "home/header" %>
  <body>
    <div id="header">
      <%= render 'layouts/nav_bar' %>
      <%= render 'layouts/alerts' %>
      <% if current_page?(root_url) && !user_signed_in? %>
        <%= render "home/carousal" %>
      <% end %>
      <div id="mainBody">
        <div class="container" style="min-height:300px">
          <br/>
          <%= yield %>
        </div>
      </div>
      <%= render "home/footer" %>
    </body>
  </html>
