<!doctype html>
<html lang="en">
  <%= render "layouts/header" %>
  <body>
    <div id="header">
      <div class="container">
        <%= render "layouts/welcomeLine" %>
        <%= render 'layouts/nav_bar' %>
      </div>
      <%= render 'layouts/alerts' %>
    </div>    
    <% if current_page?(root_url) && !user_signed_in? %>
      <%= render "home/carousal" %>
    <% end %>
    <div id="mainBody">
      <div class="container" style="min-height:300px">
        <div class="row">
          <br/>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
