<h1>Products</h1>
<table class="table table-stripes table-hover table-bordered">
  <thead class='table-dark'>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price (Rs.)</th>
      <th scope="col">Quantity</th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= product.name %></td>
        <td><%= product.price %></td> 
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', { controller: 'products', action: 'view_product' ,id:product.id }, class:'btn btn-primary btn-sm' %></td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    <% end %>

  </tbody>
</table>