<div class="span12">
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li><%= link_to "List Products", list_products_path %>
      <span class="divider">/</span></li>
    <li class="active">Add Product Details</li>
  </ul>
  <div class="well">
    <h4>Add Product</h4>

    <%= form_with class: "form-horizontal", model: @products do |form| %>
    <div class="control-group">
      <%= form.label "Name", class: "controlName", class: "control-label" %>
      <div class="controls">
        <%= form.text_field "product[name]", placeholder: "Add product name" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :price, "Price", class: "control-label" %>
      <div class="controls">
        <%= form.number_field "product[price]", placeholder: "Add Price" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :discount, "Price discount", class: "control-label" %>
      <div class="controls">
        <%= form.number_field "product[discount]", in: 10..100, step: 5, placeholder: "Discount Price in percentage" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :image_url, "Image", class: "control-label" %>
      <div class="controls">
        <%= form.file_field "product[image_url]", placeholder: "Upload Image" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :quantity, "Quantity", class: "control-label" %>
      <div class="controls">
        <%= form.number_field "product[quantity]", placeholder: "Add number of items in stock" %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :category_id, "Category", class: "control-label" %>
      <div class="controls">
        <%= form.select "product[category_id]", [["-NA-",0],["Camera",1], ["Clothes",2], ["Computer",3]] %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :store_id, "Store Location", class: "control-label" %>
      <div class="controls">
        <%= form.select "product[store_id]", [["-NA-",0],["Berlin",1], ["Chicago",2], ["Madrid",3]] %>
      </div>
    </div>

    <div class="control-group">
      <%= form.label :details, "Additional Details", class: "control-label" %>
      <div class="controls">
        <%= form.text_area "product[details]", size: "100x5" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= form.submit class: "btn btn-large btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

