<div class="span12">
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li>
      <%= link_to "Products", products_path %>
      <span class="divider">/</span></li>
    <li class="active">Product Details</li>
  </ul>
  <div class="row">
    <div id="gallery" class="span3" style="border:1px solid #ccc; padding:0.5em">
      <%= image_tag(@product.image_url.url, alt: 'Image', :size => '160x160') %>
    </div>
    <div class="span6">
      <div class="controls">
        <a href="/add_to_cart/<%= @product.id %>" type="submit" class="btn btn-large btn-primary pull-right">
          Add to cart
          <i class=" icon-shopping-cart"></i>
        </a>
      </div>
      <h3><%= @product.name %></h3>
      <hr class="soft"/>
      <form class="form-horizontal qtyFrm">
        <div class="control-group">
          <label class="control-label">
            <span>Price: &#8377;
              <%= @product.price %>
              <br class="clr">
              Discount:
              <%= @product.discount %>
              %
            </span>
          </label>
        </div>
        <h6>
          <p><%= pluralize(@product.quantity, 'item') %>
            left</p>
        </h6>
      </form>

      <hr class="soft"/>
      <h4>Product Details</h4>
      <hr class="soft clr"/>
      <p><%= @product.details %></p>
      <hr class="soft"/>
    </div>

  </div>
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->